body{
    font-family: 'Sansita Swashed';
    text-align: center;
    background-image: url(images/location.jpg);
}

* {
    box-sizing: border-box;
  }
  
  #myInput { /*for the search box*/
    background-color: pink;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    font-family: Roboto Condensed;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable { /*table outline */
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #fff;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr { /*line for table */
    border-bottom: 1px solid #fff;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }

  a:link, a:visited {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    margin: 4px 16px;
    cursor: pointer;
  }
  
  
  a:hover, a:active {
    background-color: rgb(121, 190, 121);
    color: white;
  }

  .book-btn{
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    margin: 4px 16px;
    cursor: pointer;
  }